@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #2f3640;
  background: #ecf0f3;
  display: flex;
  flex-direction: column;
}

.live{
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 46%;
}

.live h1 {
  font-size: medium;
  text-align: center;
  margin-right: 25px;
  font-family: "Lato", sans-serif;
  
}

.animate{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animate span{
  font-size: 18px;
  animation: live 1s linear infinite alternate;
}

@keyframes live{
  from{ 
    font-size: 15px; }
  to{
    font-size: 10px;
  }
}

h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
}

.card {
  width: 100%;
}

.card_main {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* margin-bottom: 5%; */
  flex-wrap: wrap;
}

.card_inner {
  flex-basis: 30%;
  /* width:  20%; */
  height: 200px;
  margin: 20px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  transition-duration: 0.3s;
}

.card_inner:hover{
    /* background: #e1effa; */
    background: #2f3640;
    color: #ecf0f3;
}


.card_name {
  text-align: center;
  margin-top: 10px;
}

span {
  font-size: 10px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}

.carda_total {
  font-size: 25px;
  margin-top: 17%;
  text-align: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}



@media(max-width: 768px){

  .live{
    margin-left: 40%;
  }

   .live h1 {
        font-size: small ;
        text-align: center;
        
        font-family: "Lato", sans-serif;
      }

      h2 {
        font-size: 17px;  
        font-weight: bolder;
        text-align: center;
        font-family: "Lato", sans-serif;
      }

    .card_inner{
        flex-basis: 70%;
    }
    .card_inner:hover{
        flex-basis: 73%;
    }
}